# Build
target/
*.class
*.jar
*.war
*.ear

# Secrets
.env
*.env
token.txt

# Logs
*.log

# Frontend
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
